@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 1.105em;
}

.header  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 5px dashed white; */
    backdrop-filter: blur(5px);
}

body {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: url(/assets/img/background2.jpg); */

    background-repeat: no-repeat;
}

#logo {
    font-size: 35px;
    color: white;
    border: 5px dashed white;
    transition: ease-in-out .2s;
}

#logo:hover {
    background-color: rgb(242, 129, 0);
    animation: .3s linear .3s infinite leftToRight ;
    content: "Oui c'est cool";
}

.navbar  {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.nav-menu  {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 60px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}

/* LES LIENS ACCUEIL / PROJETS / CONTACT */

.nav-link {
    transition: .7s ease;
}

li {
    font-size: 1.105em;
    gap: 0px 10px;
    list-style: none;
}   


li a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    color: rgb(242, 129, 0);
    text-decoration: 4px underline dashed ;
}

@media (max-width: 768px) {

    

    .hamburger {
        display: block;
    }

    .hamburger .active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger .active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: .3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 10px;
        background-color: darkgrey;
        border-radius: 15px;
        padding: 36px 150px;
        border: 4px dashed white;
    }   

    .div-body-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .presentation {
        display: flex;
        align-items: center;
    }

    .para-1 {
        text-align: center;
    }
}


.cloud-repo {
    width: 40px;
    color: white;
}

.main-body {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    background: linear-gradient(a);
    /* background-image: url(/assets/img/background.jpg); */

}



.div-box {
    background: url(/assets/img/photo.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 350px;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    margin: 50px;
    border: 7px solid rgba(197, 197, 197, 0.145);
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}

/* /////////////////// PREMIERE SECTION ////////////////// */

.presentation {
    display: flex;
    flex-direction: column;
}

.div-body-up {
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.359); */
    backdrop-filter: blur(10px);
}

.wrapper {
    display: flex;
    align-items: center;
    height: 65vh;
}

.main-title {
    font-size: 55px;
    margin: 0;
    letter-spacing: 2px;
    color: white;
    text-decoration-style: 2px double;
}

.infos-para {
    margin: 0;
    color: rgb(232, 244, 10);

}

.para-1 {
    font-size: 30px;
    color: white    ;
}

.language {
    color: white;
}

.logo-language {
    width: 50px;
}

.logo-language:hover {
    transform: scale(1.15);
}


.info-bulle {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info-bulle .bulle {
    visibility: hidden;
    width: 180px;
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.info-bulle:hover .bulle {
    visibility: visible;
    opacity: 1;
    transition: .4s ease-in-out;

}

/*//////////////////// DIV PARCOURS ////////////////// */

.div-body-up-nd {
    display: flex;
    flex-direction: column;
}

.title-projet {
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    color: white  ;
}

/* <!-- MES PROJETS --> */


.external {
    margin-top: 100px;
}

.square {
    margin-top: 50px;
    height: 250px;
    width: 250px;
    background: black;
}

.div-project {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div-project-1 {
    margin: 10px;
}

