@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 1.105em;
    /* margin: 5px; */
}

.header  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 5px dashed white; */
    backdrop-filter: blur(5px);
}

body {
    background: #202d28;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #000000, #BBD2C5);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #ff0101, #f89900); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: url(/assets/img/background2.jpg); */
    background-repeat: no-repeat;
}

#logo {
    font-size: 35px;
    color: white;
    border: 5px dashed white;
    transition: ease-in-out .2s;
}

#logo:hover {
    background-color: rgb(242, 129, 0);
    animation: .3s linear .3s infinite leftToRight ;
    content: "Oui c'est cool";
}

.navbar  {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.nav-menu  {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 60px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}

/* LES LIENS ACCUEIL / PROJETS / CONTACT */

.nav-link {
    transition: .7s ease;
}

li {
    font-size: 1.105em;
    gap: 0px 10px;
    list-style: none;
}


li a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    color: rgb(255, 136, 0);
}

@media (max-width: 957px) {

    .hamburger {
        display: block;
    }

    .hamburger .active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger .active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        display: none;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: ease-in-out .2s ;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        display: flex;
        right: 10px;
        background-color: rgba(169, 169, 169, 0.338);
        border-radius: 15px;
        padding: 10px 70px;
        border: 4px dashed white;
        margin: 0;
    }

    .div-body-up {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .presentation {
        display: flex;
        align-items: center;
    }

    .para-1 {
        text-align: center;
    }

}


.cloud-repo {
    width: 40px;
    color: white;
}

.main-body {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    background: linear-gradient(a);
    /* background-image: url(/assets/img/background.jpg); */

}



.div-box {
    background: url(/assets/img/photo.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 350px;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    margin: 50px;
    border: 7px solid rgb(255, 255, 255);
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}

/* /////////////////// PREMIERE SECTION ////////////////// */

.presentation {
    display: flex;
    flex-direction: column;
}

.div-body-up {
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.359); */
}

.wrapper {
    display: flex;
    align-items: center;
    height: 65vh;
}

.main-title {
    font-size: 55px;
    margin: 0;
    letter-spacing: 2px;
    color: white;
    text-decoration-style: 2px double;
}

.infos-para {
    margin: 0;
    color: rgb(232, 244, 10);

}

.para-1 {
    font-size: 30px;
    color: white    ;
}


.language {
    color: white;
}

.logo-language {
    width: 50px;
}

.logo-language:hover {
    transform: scale(1.15);
}


.info-bulle {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info-bulle .bulle {
    visibility: hidden;
    width: 180px;
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.info-bulle:hover .bulle {
    visibility: visible;
    opacity: 1;
    transition: .4s ease-in-out;

}

/*//////////////////// DIV PARCOURS ////////////////// */

.div-body-up-nd {
    display: flex;
    flex-direction: column;
}

.title-projet {
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    color: white  ;
}

/* <!-- MES PROJETS --> */


.external {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
}

#square1, #square2, #square3, #square4 {
    /* margin-top: 50px; */
    height: 250px;
    width: 250px;
    background: black;
}

.div-project {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div-project-1 {
    margin: 10px;
}

.projectLink {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    top: 100px;
}

/* COOKIES */

.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 119, 0, 0.846);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 1;
    transition: .2s;
}

.text-cookies {
    color: white;
}

.cookier-btn {
    display: flex;
}

.btn {
    color: white;
}

.btn.btn-success {
    background-color: rgba(215, 14, 14, 0.753);
}
.btn.btn-success:hover {
    background-color: rgba(215, 14, 14, 0.49);
    cursor: pointer;
}

.btn.btn-deny {
    background-color: rgba(215, 14, 14, 0.753);
}
.btn.btn-deny:hover {
    background-color: rgba(215, 14, 14, 0.49);
    cursor: pointer;
}