@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-family: 'JetBrains Mono', monospace;
    margin: 2px;
    padding: 0;
}

/* Header avec logo et menu, voir pour un menu deroulant et quelques animation */

header {
    background-color: brown;
    border: 2px dashed white;
    border-radius: 15px;
}

.name {
    font-size: 3rem;
}

.main-body {
    background-color: brown;   
    border: 2px dashed white;
    border-radius: 15px;
    margin: 10px 0;
}

img {}

.div-photo {
    display: flex;
    justify-content: center;
}

.photo {
    display: flex;
    align-items: center;
    width: 311px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00NS43LC03OC45QzU4LjYsLTcxLjYsNjgsLTU4LjIsNzUuNCwtNDRDODIuOCwtMjkuOCw4OC4zLC0xNC45LDg4LjgsMC4zQzg5LjQsMTUuNiw4NS4yLDMxLjIsNzcuNCw0NC43QzY5LjYsNTguMiw1OC4yLDY5LjcsNDQuNyw3Ny41QzMxLjIsODUuMywxNS42LDg5LjYsLTAuMSw4OS44Qy0xNS44LDkwLC0zMS43LDg2LjIsLTQ1LjcsNzguN0MtNTkuOCw3MS4xLC03Mi4xLDU5LjksLTgwLjEsNDYuMkMtODguMiwzMi40LC05Mi4yLDE2LjIsLTkxLjcsMC4yQy05MS4zLC0xNS43LC04Ni42LC0zMS41LC03OC40LC00NS4xQy03MC4zLC01OC44LC01OC44LC03MC40LC00NS4yLC03Ny4yQy0zMS41LC04NCwtMTUuOCwtODYuMSwwLjMsLTg2LjZDMTYuNCwtODcuMSwzMi44LC04Ni4xLDQ1LjcsLTc4LjlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTAwKSIgLz4KPC9zdmc+Cg==);
}

/* /////////////////////////////////////////////// */

/* ////////////////language de programation//////////////// */
.lang-box {
    background-color: brown;
    border-radius: 15px;
    border: 2px dashed white;
    display: flex;
    justify-content:center;
    padding: 10px;
}

.html {

}

.nd-title {
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px 0;
}

.mes-projets {
    margin: 10px 0;
    background-color: brown;
    border: 2px dashed white;
    border-radius: 15px;
}

.grid-projet{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projet-1 {
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 15px ;
}

.projet-link {
    color: white;
    text-decoration: none;
    text-align: center;
}

.projet-link:hover {
    
}

.formulaire {
    background-color: brown;
    border-radius: 15px;
    border: 2px dashed white;
    display: flex;
    justify-content:center;
    padding: 10px;
    color: white;
    flex-direction: column;
}

.hire-me {
    display: flex;
    justify-content: center;
    padding: 10px;
}

input, textarea {
    border-radius: 15px;
    border:2px solid rgba(253, 30, 30, 0.49);
    padding: 10px;
}

.msg {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.area-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn {
    display: flex;
    padding: 15px;
    margin: 0;
    border-radius: 15px;
    font-weight: 700;
    border: 2px dashed rgba(253, 30, 30, 0.49);
}


@media (min-width: 385px) and (max-width: 500px) {
    .name {
        color: white;
        display: flex;
        margin: 10px 0;
        text-align: center;
        flex-wrap: nowrap;
        font-size: 2rem;
    }
}

 @media (max-width: 500px) {

    header {
        
    }

    .logo {
        color: white;
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-a {
        flex-wrap: wrap;
        color: white;
        text-decoration: none;
    }

    /* ///////////////BODY//////////////*/

    .main-body {
        
    }

    .name {
        color: white;
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .para-1 {
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }

}


@media (min-width: 500px) and (max-width: 1080px) {
    .logo {
        color: white;
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-a {
        flex-wrap: wrap;
        color: white;
        text-decoration: none;
        margin: 0 25px;
    }

    .premierbloc {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }

    .name {
        box-sizing: border-box;
        color: white;
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .para-1 {
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }

    .text1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-body {
        flex-direction: row;
    }
}